@import 'variables.scss';
@import 'mixins.scss';

.app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-content {
  margin-top: $navbarHeight;
  margin-left: $sidebarWidth;

  &--no-sidebar {
    transform: translateX(-$sidebarWidth + (-20vw)) rotate(0deg);  
    transition: all .75s ease;
    padding-left: $sidebarWidth + 2vw;
    width:100%;
  }

  &--sidebar {
    transform: translateX(0) rotate(0deg);  
    transition: all .75s ease;
  }
}

.app-content-viz {
  padding: 1vh 4vw 1vh 4vw;
  text-align: center;
}

.loader-wrapper {
  width:3vw;
  margin:auto;
  padding-top:30vh;
}

.loader-text {
  margin: auto;
  display: block;
  margin-top: 2vh;
  width: 20vw;
  font-weight: bold;
}

.quick-compare-popup {
  right: 6vw;
  // vega embed thought it would be funny to have a z-index of 1000
  z-index: 1001;
  position: fixed;
  width: 15vw;
  height: 20vh;
  padding: 2vh 2vw 2vh 2vw;
  border-radius: 1%;
  border: .1vw solid gainsboro;
  background-color: white;
  margin-top: 1.5vh;

  &::before {
    content: "";
    display: block;
    position:absolute;
    background-color: white;
    border-left: .1vw solid gainsboro;
    border-bottom: .1vw solid gainsboro;
    width: 5vh;
    height: 5vh;
    margin-left: 10vw;
    margin-top:-4.4vh;
    transform: rotate(135deg);
  }
}
.quick-compare-input {
  @include inputStyle();
  display:block;
  margin:auto;
  margin-top: 1vh;
}

.quick-compare-button {
  display:block;
  margin:auto;
  margin-top: 3vh;
}
