@import 'mixins.scss';
@import 'variables.scss';

.green-button {
    @include button(#00c851, #007e33);
}

.blue-button {
    @include button(#33b5e5, #0080aa);
}

.red-button {
    @include button(#ff4444, #cc0000);
}

.yellow-button {
    @include button(#ffbb33, #ff8800);
}

.button:disabled {
    cursor: not-allowed;

    &:hover {
        background-color: grey;
        border: grey $buttonBorderBottom solid;
        &:active {
            border: grey $buttonBorderBottom solid;
            transform: translateY(0);
        }
    }
}