@import 'mixins.scss';

.dropdown-container {
    margin-left: 1vh;
    margin-top: 0.5vh;
    z-index: 1;
}

.dropdown-box {
    cursor: pointer;
    margin-left: 1vh;
    overflow: auto;
    width: 9vw;
    @include inputStyle();
}

.filter-button {
    font-size: 1vw;
    padding: .7vh .55vw .7vh .55vw;
    border:.1vh solid gainsboro;
    border-bottom: .5vh solid gainsboro;
    background-color: white;
    cursor: pointer;
}

