.dropdown-container {
    margin-left: 1vh;
    margin-top: 0.5vh;
}

.dropdown-box {
    cursor: pointer;
    margin-left: 1vh;
    font-size: 0.9vw;
    overflow: auto;
    width: 9vw;
    padding: 0.82vh 0.7vw 0.6vh 0.7vw;
    border:.1vh solid gainsboro;
    border-bottom: .5vh solid gainsboro;
    background-color: white;
    -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
}

.filter-button {
    font-size: 1vw;
    padding: .7vh .55vw .7vh .55vw;
    border:.1vh solid gainsboro;
    border-bottom: .5vh solid gainsboro;
    background-color: white;
    cursor: pointer;
}

