.filterbox-container {
    border: .1vh solid gainsboro;
    border-radius: .5vh;
    margin-bottom: 3vh;
    margin-left: 3vh;
    margin-top: 1vh;
    padding-top: 1vh;
    overflow-y: scroll;
    width: 16.5vw;
    height: 24vh;
}

.filterbox-item {
    display: inline-flex;
}

.filterbox-label {
    margin-left: 2vw;
    font-size: 1vw;
}

.circle-filter-button {
    margin-left: 0.8vw;
    margin-right: 0;
    margin-top: 1vh;
    text-align: center;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    padding-bottom: 1.5vh;
    color: white;
    font-weight: bold;

    &:hover {
      &::after {
          content: "-";
      }
    }
}


.add-filter-button {
    display: inline-flex;
    float: right;
    margin-right: 2vw;
    margin-bottom: 0.5vh;
}

.no-filters-msg {
    font-size: 2vh;
    text-align: center;
    margin-top: 1vh;
}