@import "variables.scss";
$buttonBorderBottom: .2vh;

@mixin button($bgcolor, $bordercolor) {
    padding: 1vh 1vh 1vh 1vh;
    border: none;
    border: $buttonBorderBottom solid $bordercolor;
    background-color: $bgcolor;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    outline: none;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: pointer;
    &:active {
        border: none;
        transform: translateY($buttonBorderBottom);
    }
    &:hover {
        background-color: $bordercolor;
    }
    &::-moz-focus-inner {
        border: 0;
    }
}

@mixin graph-selection($bgcolor) {
    margin: 1vh 0vh 1vh 2vh;
    border: 0.2vh solid #888888;
    border-radius: 0.5vh;
    width: 0.4 * $sidebarWidth;
    height: 0.4 * $sidebarWidth;
    background-color: #CCCCCC;
    font-size: 12pt;
}