$buttonBorderBottom: .7vh;

@mixin button($bgcolor, $bordercolor) {
    padding: .5vh .8vw .5vh .8vw;
    border:none;
    border-bottom: $buttonBorderBottom solid $bordercolor;
    background-color: $bgcolor;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    outline: none;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: pointer;
    &:active {
        border: none;
        transform: translateY($buttonBorderBottom);
    }
    &::-moz-focus-inner {
        border: 0;
    }
}