@import 'variables.scss';

.navbar {
    width: 100%;
    height: $navbarHeight;
    background-color: whitesmoke;
    border-bottom: .1vh solid gainsboro;
    position: fixed;
    line-height: $navbarHeight;
    text-align: center;
    z-index: 2;
    top:0;
}

.navitem {
    display:inline-block;
    &-right {
        float:right;
    }
    &-left {
        float:left;
    }
}

.nav-logo {
    vertical-align: middle;
    width: 7vw;
    margin-left: 1vw;
}