@import "variables.scss";

.sidebar {
    position: fixed;
    width: $sidebarWidth;
    background-color: gainsboro;
    border-right: .1vw solid grey;
    height: 100vh;
    margin-top: $navbarHeight;
}